/*свистнуто из мейнМаша*/
        @font-face {
            font-family: Tenoture;
            src: url(19138.ttf);
        }
        header
        {
            text-align: center;
            font-family: Tenoture;/**/
            font-size: 5em;
            
        }
body
        {
            background: #e4acdf;
            color: #fcf7fc;
        }
/*конец свистнуто из мейнМаша*/
#Zagolovok {
    width: 99%; /* Ширина слоя */
    margin: 0px; /* Значение отступов */
    padding: 0px; /* Поля вокруг текста */
    border: 0px ; /* Параметры границы */
    background: #ff4873; /* Цвет фона */
   }

#Blok {
	width: 97%; /* Ширина первого слоя */
	padding: 10px; /* Поля вокруг текста */
	margin: 7px; /* Значение отступов */
	border: 3px dashed black;
	/*border-image: src("fioletovoe-sheroxovatost-stuktura2.jpg");*/
	border-color: #5e216d;
	background: #fcf7fc; /* Цвет фона */
	border-radius: 10px;	
	font-size: 16px;
	color: #e4acdf;  /* Цвет текста */
	font-family: Arial;
	    height: fit-content;
}

#MiniBlok {
    width: 28%; /* Ширина первого слоя */
    padding: 10px; /* Поля вокруг текста */
    margin: 7px; /* Значение отступов */
    border: 3px dashed black;
	/*border-image: src("fioletovoe-sheroxovatost-stuktura2.jpg");*/
	border-color: #5e216d;
height:300px;
    background: #fcf7fc; /* Цвет фона */
border-radius: 10px;
float:left; 
        margin-left:15px; 
        text-align:center;
	overflow: hidden;
	font-size: 16px;
	color: #e4acdf;  /* Цвет текста */
	font-family: Arial;
}

#TextBlok { /* Я забыла где и зачем он */
	display:block;
	width:99%;
	padding:0.5%;
	margin:0;
	border: 1px solid #ff4873;
	overflow:auto;
}

button {
	background: #e4acdf;
	color: #fcf7fc;
	width: 80%;
	height: 24px;
	font-size : 20px;
	font-family: Arial;
	border: none;
	display: inline-block;
	border-radius: 8px;
}

/*h1
{
	font-size: 3em;
	color: #ffcba7;
	font-family: Tenoture;
	margin-block-start: 0.5em;
    	margin-block-end: 0.5em;
}
*/
h2 {
	color: #5e216d;
	font-size: 2em;
	font-family: Tenoture;
	margin-block-start: 0.2em;
   	margin-block-end: 0.2em;
	padding-left: 10px;
}
      a {
          text-decoration: none; /* Отменяем подчеркивание у ссылки */
      }

p {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

img {
  border-radius: 8px;
	width: 86%;
	height: 86%;
}
      /* Нечетные строки */
      #table tbody tr:nth-child(odd) {
          background: #e4acdf;
      }

      /* Четные строки */
      #table tbody tr:nth-child(even) {
          background: #5e216d;
      }

/****************************************************
выпадающее меню
*****************************************************/
a {
  text-decoration: none;
}

nav {
    font-family: monospace;
}

ul {
  background: #e4acdf;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    color: #fff;
    background: #e4acdf;
    display: block;
    float: left;
    padding-left: 0.5%;
    width:24%;
    position: relative;
    text-decoration: none;
  transition-duration: 0.5s;
}
  
li a {
  color: #fff;
}

li:hover,
li:focus-within {
    background: #ff4873;
    cursor: pointer;
}

li:focus-within a {
  outline: none;
}

ul li ul {
    background: #e4acdf;
    visibility: hidden;
  opacity: 0;
  min-width: 400%;
    position: absolute;
  transition: all 0.5s ease;
  /*margin-top: 1rem;
    left: 0;*/
  display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
   visibility: visible;
   opacity: 1;
   display: block;
}

ul li ul li {
    clear: both;
  width: 100%;
}
/****************************************************
конец
****************************************************/
