  #Zagolovok {
    width: 99%; /* Ширина слоя */
    margin: 0px; /* Значение отступов */
    padding: 0px; /* Поля вокруг текста */
    border: 0px ; /* Параметры границы */
    background: #ff4873; /* Цвет фона */
   }

#Blok {
	width: 93%; /* Ширина первого слоя */
	padding: 10px; /* Поля вокруг текста */
	margin: 7px; /* Значение отступов */
	border: 3px dashed black;
	border-color: #5e216d; /* Параметры границы */
	background: #ffcba7; /* Цвет фона */
	border-radius: 10px;	
	font-size: 16px;
	color: #eb266a;  /* Цвет текста */
	font-family: Arial;
}

#MiniBlok {
    width: 26%; /* Ширина первого слоя */
    padding: 10px; /* Поля вокруг текста */
    margin: 7px; /* Значение отступов */
    border: 3px dashed black;
	border-color: #5e216d; /* Параметры границы */
height:300px;
    background: white;/* Цвет фона */
border-radius: 10px;
float:left; 
        margin-left:15px; 
        text-align:center;
}

#TextBlok { /* Я забыла где и зачем он */
	display:block;
	width:99%;
	padding:0.5%;
	margin:0;
	border: 1px solid #ff4873;
	overflow:auto;
}

button {
	background:#ff4873;
	color: #ffcba7;
	width: 80px;
	height: 20px;
	font-size : 20px;
	font-family: Arial;
}

h1
{
	font-size: 3em;
	color: #ffcba7;
	font-family: Buxton Sketch;
	margin-block-start: 0.5em;
    	margin-block-end: 0.5em;
}

h2 {
	color: #5e216d;
	font-size: 2em;
	font-family: Arial;
	margin-block-start: 0.2em;
   	margin-block-end: 0.2em;
}
      a {
          text-decoration: none; /* Отменяем подчеркивание у ссылки */
      }

p {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

img {
  border-radius: 8px;
}
      /* Нечетные строки */
      #table tbody tr:nth-child(odd) {
          background: #ff4873;
      }

      /* Четные строки */
      #table tbody tr:nth-child(even) {
          background: #f973a4;
      }
