
  #Zagolovok {
    width: 99%; /* Ширина слоя */
    margin: 0px; /* Значение отступов */
    padding: 5px; /* Поля вокруг текста */
    border: 0px ; /* Параметры границы */
    background: #6a718e; /* Цвет фона */
   }
#Blok {
	width: 93%; /* Ширина первого слоя */
	padding: 10px; /* Поля вокруг текста */
	margin: 7px; /* Значение отступов */
	border: 3px dashed black;
	border-color: #6a718e; /* Параметры границы */
	background: #e0cb8a; /* Цвет фона */
	border-radius: 10px;	
}
#TextBlok {
display:block;
width:99%;
padding:0.5%;
margin:0;
border: 1px solid #c2c9e5;

overflow:auto;
}
  html, body { 
 /* Цвет стрелок */
    scrollbar-face-color: pink; /* Цвет полосы прокрутки */
   }

      a {
          text-decoration: none; /* Отменяем подчеркивание у ссылки */
      }

      /* Нечетные строки */
      #table tbody tr:nth-child(odd) {
          background: #c2c9e5;
      }

      /* Четные строки */
      #table tbody tr:nth-child(even) {
          background: #F7F7F7;
      }
