/****************************************************
адаптивка
****************************************************/
header, nav, footer, article, aside, section
{
    width: 99%;
}
@media (min-width: 600px)
{
    header, nav
    {
        width: 99%;
    }
}
@media (min-width: 1000px)
{

    header, footer, nav
    {
        width: 99%;
    }
}

/*прилипающий футер*/

/****************************************************
конец
*****************************************************/
@font-face /*шрифт без засечек*/
{
    font-family: Tenoture;
    src: url(19138.ttf);
}

header
{
    text-align: center;
    font-family: Tenoture;
    font-size: 5em;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
}
body
{
    background: #e4acdf;
    color: #fcf7fc;
	font-family: Arial;
    /*font-size: x-large;*/
}
/*#Zagolovok
{
    width: 99%; /* Ширина слоя */
    /*margin: 0px; /* Значение отступов */
    /*padding: 0px; /* Поля вокруг текста */
    /*border: 0px ; /* Параметры границы */
    /*background: #ff4873; /* Цвет фона */
/*}
*/
footer
{
    margin-top:10px;
}
#Blok {
	width: 99%; /* Ширина первого слоя */
	padding: 0.5%;
	padding-bottom: 5%;
	margin-top: 7%;
    background: #fcf7fc; /* Цвет фона */
	border-radius: 8px;	
	font-size: 16px;
	color: #5e216d;
	/*color: #7b2d91;  /* Цвет текста НОВЫЙ*/
	font-family: Arial;
    line-height: 1.5; /* !!!! разрыв между текстом */

}

#MiniBlok {
    width: 31%; /* Ширина первого слоя */
    /*padding: 1%; /* Поля вокруг текста */
    padding-top:1%;
    padding-bottom:1%;
    margin: 1%; /* Значение отступов */
/*    border: 3px dashed black;
/*	/*border-image: src("fioletovoe-sheroxovatost-stuktura2.jpg");*/
/*	border-color: #5e216d;*/
/*    height:300px;*/
    background: #fcf7fc; /* Цвет фона */
    border-radius: 8px;
    float:left; 
    text-align:center;
	overflow: hidden;
	font-size: 16px;
	color: #7b2d91;  /* Цвет текста НОВЫЙ*/
	font-family: Arial;
	/*padding-bottom: 50px;*/
}

/*#TextBlok { /* Я забыла где и зачем он */
/*	display:block;
	width:99%;
	padding:0.5%;
	margin:0;
	border: 1px solid #ff4873;
	overflow:auto;
}*/


h1
{
	font-size: 3em;
	color: #ffcba7;
	font-family: Tenoture;
	margin-block-start: 0.5em;
    	margin-block-end: 0.5em;
}

h2 {
	color: #5e216d;
	font-size: 2em;
	font-family: Tenoture;
	margin-block-start: 0.2em;
   	margin-block-end: 0.2em;
	padding-left: 10px;
}

h3 {
	color: #5e216d;
	font-size: 1.8em;
	font-family: Tenoture;
	margin-block-start: 0em;
   	margin-block-end: 0em;
}


/*p {
    margin-block-start: 0em;
    margin-block-end: 0em;
}
*/
img {
  border-radius: 8px;
  margin-right:10px;
}

table{
    color: #f7daf7;
	border: none; 
	width:100%;
}
      /* Нечетные строки */
#table tbody tr:nth-child(odd)
{
    background: #7b2d91;
}

      /* Четные строки */
#table tbody tr:nth-child(even)
{
    background: #5e216d;
}
#ul2
{
    background: #5e216d;
}
/****************************************************
Кнопки
****************************************************/
button {
	background: #7b2d91;
	color: #fcf7fc;
	width: 90%;
	height: 24px;
	font-size : 20px;
	font-family: Arial;
	border: none;
	/*display: inline-block;*/
	border-radius: 8px;
    transition-duration: 0.5s;
}
#b2 {
	background: #5e286b;
	color: #fcf7fc;
	width: 20%;
	height: 24px;
	font-size : 20px;
	font-family: Arial;
	border: none;
	/*display: inline-block;*/
	border-radius: 8px;
    transition-duration: 0.5s;
    position: relative;

}

#butt3 {
	background: #5e286b;
	color: #fcf7fc;
	width: 50%;
	height: 24px;
	font-size : 20px;
	font-family: Arial;
	border: none;
	/*display: inline-block;*/
	border-radius: 8px;
    transition-duration: 0.5s;
    position: relative;
}

#butt2 {
	background: #5e286b;
	color: #fcf7fc;
	width: 90%;
	height: 24px;
	font-size : 20px;
	font-family: Arial;
	border: none;
	/*display: inline-block;*/
	border-radius: 8px;
    transition-duration: 0.5s;
    position: relative;
left: 50%;
transform: translate(-50%, 0);
}
button:hover, button:focus-within
{
    background: #ff4873;
    cursor: pointer;
}
#butt2:hover, #butt2:focus-within
{
    background: #ff4873;
    cursor: pointer;
}
#butt3:hover, #butt3:focus-within
{
    background: #ff4873;
    cursor: pointer;
}
#butt2:focus-within a
{
    outline: none;
}
button:focus-within a
{
    outline: none;
}
button, 
button:active, 
button:focus {
    outline: none;
}
/****************************************************
конец
****************************************************/
/****************************************************
выпадающее меню
*****************************************************/
a
{
    text-decoration: none;
}

ul
{
    background: #e4acdf;
    list-style: none;
    margin: 0;
    padding: 0;
}

li
{
    color: #fff;
    background: #e4acdf;
    display: block;
    float: left;
    width:20%;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
    text-align: center;
    font-family: Arial;
}
  
li a
{
    color: #fff;
}

li:hover, li:focus-within
{
    background: #ff4873;
    cursor: pointer;
}

li:focus-within a
{
    outline: none;
}

ul li ul
{
    background: #b876b8;
    visibility: hidden;
    opacity: 0;
    min-width: 100%;
    position: absolute;
    transition: all 0.5s ease;
    /*margin-top: 0.5rem;/**/
    left: 0;
    /*display: none;*/
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus
{
    visibility: visible;
    opacity: 1;
    display: block;
}

ul li ul li
{
    clear: both;
    width: 100%;
}
/****************************************************
конец
****************************************************/
/****************************************************
звезды
****************************************************/
.rating-area {
                overflow: hidden;
                float: left;
            }
            .rating-area:not(:checked) > input {
                display: none;
            }
            .rating-area:not(:checked) > label {
                float: right;
                /*width: 42px;*/
                padding: 0;
                cursor: pointer;
                font-size: 1.5em;
                /*line-height: 1em;*/
                color: lightgrey;
                text-shadow: 1px 1px #bbb;
            }
            .rating-area:not(:checked) > label:before {
                content: '★';
            }
            .rating-area > input:checked ~ label {
                color: gold;
                text-shadow: 1px 1px #c60;
            }
            .rating-area:not(:checked) > label:hover,
            .rating-area:not(:checked) > label:hover ~ label {
                color: gold;
            }
            .rating-area > input:checked + label:hover,
            .rating-area > input:checked + label:hover ~ label,
            .rating-area > input:checked ~ label:hover,
            .rating-area > input:checked ~ label:hover ~ label,
            .rating-area > label:hover ~ input:checked ~ label {
                color: gold;
                text-shadow: 1px 1px goldenrod;
            }
            .rate-area > label:active {
                position: relative;
            }
            
            
            .rating-result {
            	float: left;
            	width: 100%;
            }
            .rating-result span {
            	padding: 0;
            	font-size: 1.5em;
            	line-height: 1;
            	color: lightgrey;
            	text-shadow: 1px 1px #bbb;
            }
            .rating-result > span:before {
            	content: '★';
            }
            .rating-result > span.active {
            	color: gold;
            	text-shadow: 1px 1px #c60;
            }
/****************************************************
конец
****************************************************/
